*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(238,205,205,1) 100%);    
}

.container{
    padding: 70px;
    border-radius: 10px;
    box-shadow: 1px 2px 20px #404040;
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input{
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #404040;
}
.select{
    padding: 10px;
}

form button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    background-color: crimson;
    cursor: pointer;
    transition: all 0.3s;
}

form button:hover{
    background-color: crimson;
    opacity: 0.9;
}

.chat {
    background-color: #fff;
    box-shadow: 1px 1px 5px #404040;
    width: 400px;
    height: 400px;
    overflow: scroll;
    padding: 10px;
}

.chat::-webkit-scrollbar{
    width: 10px;
    height: 0px;
}
.chat::-webkit-scrollbar-track {
    background: transparent;
}
.chat::-webkit-scrollbar-thumb{
    background-color: #404040;
    border-radius: 20px;
    border: 3px solid #404040;
}

.text{
    margin: 5px;
}